
/* POP */
.category-pop {
  background-image: url('/pop3.png');
}

/* ROCK */
.category-rock {
  background-image: url('/rock3.png');
}

/* JAZZ */
.category-jazz {
  background-image: url('/jazz.png');
}

/* HIPHOP */
.category-hiphop {
  background-image: url('/hiphop.png');
}

/* CLASSICAL */
.category-classical {
  background-image: url('/classical.png');
}

/* LIKED SONGS CARD */
.category-liked {
  background-image: url('/liked2.png');
}


/* home page */
.home-container {
  max-width: 1100px;      
  margin: 0 auto;
  padding: 24px 16px;     
  margin-left: 2%;
 
}


.home-background {
  min-height: 90.6vh;
  width: 100%;
  background: linear-gradient(135deg, #c8fbfa,#fdacc7);
  
}

.home-title {
  font-size: 40px;       
  font-weight: bolder;
 font-family: 'Raleway', sans-serif;
 color:linear-gradient(135deg, #000000, #2d004d, #6a0dad);

 margin-bottom: 10px; 
  margin-left: 0%;   
}
.category-grid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 50px;                                
}


@media (min-width: 640px) {
  .category-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (min-width: 768px) {
  .category-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
